body {
  /* margin: 10px 20px; */
}
section {
  border: solid 2px lightgray;
  border-radius: 3px;
  color: white;
  width: 80%;
  margin: 0 auto;
}
section h2:nth-of-type(1) {
  font-size: 8mm;
  text-shadow: 0.3mm 0.2mm;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #424242;
  padding: 8px;
  margin: 0 0;
  text-align: center;
  margin-bottom: 20px;
}
section article:nth-of-type(1) {
  border: 4px solid #424242;
  border-radius: 4px;
  background-color: #9e9e9e;
  margin: 15px 14px;
  padding: 8px 30px;
}
section article:nth-of-type(1) p:nth-of-type(1) {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin: 10px 15px 3px 0;
  padding: 0 28px 0 0;
  text-align: left;
}
section article:nth-of-type(1) ul:nth-of-type(1) {
  margin: 10px 10px 5px 2px;
  padding-left: 0;
  list-style: none;
}
section article:nth-of-type(1) ul:nth-of-type(1) ::before,
li:first-child::before,
li:nth-of-type(2)::before,
li:last-child {
  content: "•";
  color: black;
}
ul li:first-child {
  font-size: 10px;
  color: black;
  background-color: white;
}
ul li:nth-child(2) {
  font-size: 15px;
}
ul li:last-child {
  font-size: 18px;
  background-color: white;
  color: black;
}
section article:nth-of-type(1) h3:nth-of-type(1) {
  font-size: 30px;
}
